@font-face {
    font-family: Degular;
    src: url('../public/Font/Degular.otf');
}
@font-face {
    font-family: DegularBold;
    src: url('../public/Font/DegularBold.otf');
}
@font-face {
    font-family: DegularLight;
    src: url('../public/Font/DegularLight.otf');
}
@font-face {
    font-family: DegularMedium;
    src: url('../public/Font/DegularMedium.otf');
}